extends ../templates/layout

block content
    h3 Register sebagai Masjid
    form.col.s12(action="/mosques/register", method="post" enctype="multipart/form-data")
        .row
            .input-field.col.s12
                input#nama(type="text" name="name")
                label(for="nama") Nama
        .row
            .input-field.col.s12
                input#alamat(type="text" name="alamat" placeholder="Jl......., Kec......., Kab/Kota......")
                label(for="alamat") Alamat
        .row
            .input-field.col.s12
                input#phone(type="text" name="phone")
                label(for="phone") Nomor Telepon
        .row
            .input-field.col.s12
                textarea#textarea2.materialize-textarea(data-length="120" name="description")
                label(for="textarea2") Deskripsi
                .row
            .input-field.col.s12
                input#email.validate(type="email" name="email")
                label(for="email") Email
        .row
            .input-field.col.s12
                input#password.validate(type="password" name="password")
                label(for="password") Password

        .row
            .file-field.input-field
                .btn.blue.lighten-1
                    span Foto Profile
                    input(type="file" name="profilmasjid")
                .file-path-wrapper
                    input.file-path.validate(type="text")
        
        button.btn.waves-effect.waves-light(type="submit")
            | Submit
            i.material-icons.right send
    br